{
    "presets": [
        [
            "env",
            {
                "module": false
            }
        ],
        "react"
    ],
    "plugins": [
        [
            "transform-class-properties",
            {
                "spec": true
            }
        ],
        "react-hot-loader/babel",
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ],
        [
            "transform-object-rest-spread"
        ],
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ]
}